<h1>Document.GIF</h1>
<h3>upload a pdf!</h3>
<div id="wrapper">
  <form action="/" method="POST" enctype="multipart/form-data" id="fileForm">
    <input id="uploadFile" placeholder="Choose File" disabled="disabled">
    <div class="fileUpload btn btn-upload">
      <span>Upload</span>
      <input type="file" id="uploadButton" class="upload" name="document" accept=".pdf">
    </div>
  </form>

  <div id="convertedImage"></div>
</div>


