<!DOCTYPE html>
<html>
<head>
  <title>DocumentGif</title>
  <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Yantramanav:400,700,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="stylesheets/normalize.min.css">
  <link rel=stylesheet href="stylesheets/application.css">
  <script type="text/javascript" src="javascripts/application.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
