<!DOCTYPE html>
<html>
<head>
  <title>DocumentGif</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel="stylesheet" type="text/css" href="stylesheets/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/animate.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/loader.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/application.min.css">
  <script type="text/javascript" src="javascripts/application.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
