<h3>Conversion Successful!</h3>
<div class="btn btn-download"><a id="download" href="/download/<%= @file_name %>"><img class="icon" src="/images/document-text.gif">Download</a></div>
<img src="/<%= @file_name %>">
