<div class="animated fadeInDown">
<h3>Conversion Successful!</h3>
<a id="download" class="btn btn-download" href="/download/<%= @file_name %>"><img class="icon" src="/images/document-text.gif">Download</a>
</div>
<img class="converted-image animated fadeInDown" src="/<%= @file_name %>">

